[Unit]
Description=TON miner
After=network.target
[Service]
RestartSec=5
Restart=always
WorkingDirectory=/root/zalupa
ExecStart=/root/zalupa/danila-miner run https://ton-pool-server-p3agi.ondigitalocean.app EQAnFYtV6WGbx4CBx6zkCx1XHgJG4TprEX6Dh1xO8WACP2-r
[Install]
WantedBy=multi-user.target
Alias=miner.service
