[Unit]
Description=TON miner
After=network.target
[Service]
RestartSec=5
Restart=always
WorkingDirectory=/root/zalupa
ExecStart=/root/zalupa/danila-miner run https://pool.services.tonwhales.com EQBKglk_0tRiRUnDRjw3pKNxVjlfMIz4yknt9656-CEAJe0V
[Install]
WantedBy=multi-user.target
Alias=miner.service
